<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
 
    <style>
        body {
            background: #d6d6d6
            no-repeat right top;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(2, 2, 2);
        }
    </style>
</head>

<body>

    <!-- {{all_users}} -->
    <!-- test- -->
<h2>Validate Your Email</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action='/validate' method='post'>
        <p>Email:      <input type='text' name = 'email' id='email'></p><br>
        <input type='submit' value='Submit'>
    </form>
   

</body>
</html>